<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="canal.dao.elasticsearch.IElasticsearchUserOrderDao">

    <resultMap id="dataMap" type="canal.po.UserOrderPO">
        <result column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>

    <select id="selectByUserId" resultMap="dataMap">
        select id, uuid, name, age
        from "canal_demo"
        where age > 22
    </select>

</mapper>
